body{
    height: 100%;
   overflow: hidden;
}
.col-5{
    min-width: 350px;
    max-width: 350px;
}
.col-dark{
    background-color: rgb(59, 58, 68);
    color: honeydew;
    border: 1px solid grey;
    height: 100vh;
    overflow: auto;
}

.left-top{
    padding: 10px;
}

.search-bar{
    padding:10px;
}

.list{
    height: 80%;
    overflow: auto;
    margin: 10px;
}

.dark-item{
    background-color: transparent;
    color: rgb(211, 214, 198);
}

.user{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: whitesmoke;
    box-shadow: 0px 0px 4px 4px #888888;
    margin: 5px;
}