body{
    height: 100%;
    overflow: hidden;
    min-width: 500px;
}
.col-5{
    min-width: 350px;
    max-width: 350px;
}
.col-dark{
    background-color: rgb(59, 58, 68);
    color: honeydew;
    border: 1px solid grey;
    height: 100vh;
    overflow: auto;
}

.left-top{
    padding: 10px;
}

.search-bar{
    padding:10px;
}

.list{
    height: 80%;
    overflow: auto;
    margin: 10px;
}

.dark-item{
    background-color: transparent;
    color: rgb(211, 214, 198);
}

.user{
    padding: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: whitesmoke;
    box-shadow: 0px 0px 4px 4px #888888;
    margin: 5px;
}

.user-gp{
    padding: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: whitesmoke;
    border: 2px solid black;
    margin: 5px;
}


.user-sm{
    padding: 3px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: whitesmoke;
    box-shadow: 0px 0px 4px 4px #888888;
    margin: 15px;
}

.right-top{
    max-height: 80px;
    padding: 10px;
    min-width: 700px;
    border: 1px solid grey;
    overflow: hidden;
    margin-left: -10px;
   
}
.left>h4{
    line-height: 50px;
    text-align: center;
    font-size: 20px;
}

.left{
    float: left;
    display: flex;
}

.right{
    float: right;
    display: flex;
    align-items: center;

}
.img-group{
    margin-left: 30px;
}
.img-group>img{
    margin-left: -20px;
}
.img-group>label{
    margin-left: -20px;
    background-color: rgb(81, 104, 96);
    text-align: center;
    font-weight: bold;
}

.telephone{
    height: 40px;
    width: 40px;
    padding: 7px;
    margin-left: 10px;

}

.info{
    height: 40px;
    width: 40px;
    padding: 7px;

}

.chat-window{
    overflow: auto;
    height: 100%;
}

.time-stamp{
    font-size: 12px;
    font-weight: lighter;
    color: rgb(146, 141, 141);
    margin: 5px;
}

.right-panel{
    overflow: hidden;
}


.day-btn-div{
    text-align: center;
    width: 100%;
    z-index: 1;
 
}

.day-btn{

    width: 150px;
    padding: 3px;
    border-radius: 20px;
    background-color: rgb(59, 58, 68);
    border: 1px solid grey;
    
}